/* FOOTER */
.footer__imagen {
  display: flex;
  justify-content: flex-end; }
  .footer__imagen--redes {
    width: 20px;
    margin: 5px; }

.footer__condiciones {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.footer__letra {
  font-size: 13px; }

.footer__imagen--logo {
  width: 120px; }

/* EXTEND */
.background-centrado, .principal .enzo, .principal .julian, .principal .borja, .principal .suarez, .libertadores .mano-suarez, .libertadores .arbitro {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.titulos-normales, .principal__titulo, .principal__titulo--dos, .principal__titulo--tres, .principal__titulo--cuatro, .libertadores__titulo, .libertadores__titulo--dos, .libertadores__titulo--tres {
  position: relative;
  background-color: transparent;
  color: white;
  text-shadow: 5px 4px 2px black; }

.flex-historia, .historia__uno, .historia__dos, .historia__tres, .historia__cuatro {
  display: flex;
  flex-direction: row; }

/* COLORES */
/* LETRA */
* {
  margin: 0px;
  padding: 0px; }

h1 {
  font-family: "Alfa Slab One", cursive;
  padding: 5px; }

h2 {
  font-family: "Pathway Gothic One", sans-serif;
  padding: 0 16px; }

h3 {
  font-family: "Patrick Hand", cursive; }

hr {
  margin: 10px; }

p {
  padding: 0 16px; }

header {
  background-color: #821919;
  position: sticky;
  top: 0%;
  width: auto; }
  header .header__imagen--logo {
    width: 120px; }

.principal {
  display: grid;
  height: auto;
  width: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  row-gap: 15px;
  column-gap: 10px;
  padding: 10px;
  grid-template-areas: "enzo texto texto" "julian borja suarez"; }
  .principal .enzo {
    grid-area: enzo;
    background-image: url("../resources/enzofernandez.jfif"); }
  .principal .texto {
    grid-area: texto; }
  .principal .julian {
    grid-area: julian;
    background-image: url("../resources/julian.jpg"); }
  .principal .borja {
    grid-area: borja;
    background-image: url("../resources/borja.jpg"); }
  .principal .suarez {
    grid-area: suarez;
    background-image: url("../resources/matias-suarez.jpg"); }
  .principal__titulo {
    top: 5%;
    font-size: 45px; }
  .principal__titulo--dos {
    top: 2%;
    font-size: 40px; }
  .principal__titulo--tres {
    top: 70%;
    font-size: 40px; }
  .principal__titulo--cuatro {
    top: 70%;
    font-size: 40px; }
  .principal__letra {
    font-size: 18px; }
  .principal__imagen {
    width: auto;
    height: 500px; }
  .principal__imagen--primera {
    width: auto;
    height: 400px; }
  .principal__imagen--baja {
    width: auto;
    height: 400px; }

.partidos {
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 20px;
  margin: 30px; }
  .partidos__tamano {
    width: 300px; }
  .partidos__imagen--uno {
    grid-column: 1/2;
    grid-row: 1/2; }
    .partidos__imagen--uno:hover {
      transform: scale(1.05, 1.05);
      transition: all 0.5s; }
  .partidos__imagen--dos {
    grid-column: 2/3;
    grid-row: 1/2; }
    .partidos__imagen--dos:hover {
      transform: scale(1.05, 1.05);
      transition: all 0.5s; }
  .partidos__imagen--tres {
    grid-column: 3/4;
    grid-row: 1/2; }
    .partidos__imagen--tres:hover {
      transform: scale(1.05, 1.05);
      transition: all 0.5s; }
  .partidos__borde {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #010101 solid 2px;
    padding: 16px; }
  .partidos__letra {
    text-shadow: 2px 2px 1px white; }

.fondo {
  background: linear-gradient(white, gray, white); }

.secundario {
  display: flex;
  padding: 10px; }
  .secundario__titulo {
    color: black;
    font-size: 40px; }
  .secundario__imagen {
    width: 650px;
    height: 470px; }

/* LIBERTADORES */
.libertadores {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "river mano-suarez" "river arbitro";
  padding: 10px;
  column-gap: 10px;
  row-gap: 10px; }
  .libertadores .river {
    grid-area: river;
    background-image: url("../resources/river-eliminado.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat; }
  .libertadores .mano-suarez {
    grid-area: mano-suarez;
    background-image: url("../resources/mano-suarez.jpg"); }
  .libertadores .arbitro {
    grid-area: arbitro;
    background-image: url("../resources/tobar.jpg"); }
  .libertadores__imagen {
    width: auto;
    height: 600px; }
  .libertadores__imagen--chica {
    width: auto;
    height: auto; }
  .libertadores__titulo {
    font-size: 60px;
    top: 1%;
    left: 10%; }
  .libertadores__titulo--dos {
    font-size: 30px;
    top: 5%; }
  .libertadores__titulo--tres {
    font-size: 30px;
    top: 5%; }

.cruces {
  display: flex;
  padding: 10px; }
  .cruces__imagen {
    width: 800px; }
  .cruces__texto {
    font-size: 17px; }

/* FIXTURE */
.fixture {
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px; }
  .fixture__principal {
    grid-column: 2/3;
    grid-row: 1/3; }
  .fixture__uno {
    grid-column: 1/2;
    grid-row: 1/2; }
  .fixture__dos {
    grid-column: 1/2;
    grid-row: 2/3; }
  .fixture__tres {
    grid-column: 3/4;
    grid-row: 1/2; }
  .fixture__cuatro {
    grid-column: 3/4;
    grid-row: 2/3; }
  .fixture__principal {
    width: auto;
    height: 600px; }
  .fixture__imagen {
    width: 200px;
    margin: 50px; }
  .fixture__borde {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #010101 solid 2px;
    padding: 16px; }
  .fixture__liga {
    display: flex;
    justify-content: center;
    align-items: center; }

.fixture__copa {
  display: flex;
  padding: 10px; }
  .fixture__copa--imagen {
    width: 700px; }
  .fixture__copa--texto {
    font-size: 17px; }

.formulario__titulo {
  display: flex;
  justify-content: center; }

/* PLANTEL */
.plantel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; }
  .plantel__imagen {
    width: 800px; }

.bandera__colom {
  height: 11px;
  width: 15px; }

/* HISTORIA */
.historia {
  font-size: 15px; }
  .historia__tamano {
    width: 600px;
    height: 400px;
    padding: 10px; }

.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: #010101;
  color: white; }

.accordion-button:focus {
  box-shadow: inherit; }

.accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(100%); }

/*MEDIA DE CELULAR */
@media (min-width: 320px) and (max-width: 575px) {
  header {
    background-color: #711414;
    position: static;
    width: auto; }
    header .header__imagen--logo {
      width: 90px; }
  h1 {
    font-size: 20px; }
  p {
    font-size: 15px; }
  body {
    height: auto; }
  .principal {
    height: auto;
    row-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: "enzo"  "texto"  "julian"  "borja"  "suarez"; }
    .principal .enzo {
      background-position: top; }
    .principal .julian {
      background-position: top; }
    .principal .borja {
      background-position: top; }
    .principal .suarez {
      background-position: top; }
    .principal__imagen--primera {
      width: auto;
      height: auto; }
    .principal__imagen--baja {
      width: auto;
      height: auto; }
    .principal__imagen {
      width: auto;
      height: 280px; }
    .principal__titulo {
      position: relative;
      background-color: transparent;
      top: 5%;
      left: 0%;
      font-size: 25px; }
    .principal__titulo--dos {
      background-color: transparent;
      position: relative;
      top: 10%;
      font-size: 20px; }
    .principal__titulo--tres {
      background-color: transparent;
      position: relative;
      top: 10%;
      font-size: 20px; }
    .principal__titulo--cuatro {
      background-color: transparent;
      position: relative;
      top: 10%;
      font-size: 20px; }
    .principal__letra {
      font-size: 13px;
      padding: 10px; }
  .partidos {
    grid-template-columns: 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    justify-content: center;
    align-items: center;
    margin: 5px; }
    .partidos__imagen--uno {
      grid-column: 1/2;
      grid-row: 1/2; }
    .partidos__imagen--dos {
      grid-column: 1/2;
      grid-row: 2/3; }
    .partidos__imagen--tres {
      grid-column: 1/2;
      grid-row: 3/4; }
    .partidos__borde {
      border: #010101 solid 2px;
      padding: 6px; }
  .secundario {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; }
    .secundario__imagen {
      width: 350px;
      height: 300px; }
    .secundario__texto {
      font-size: 13px; }
    .secundario__titulo {
      font-size: 25px; }
  .footer__condiciones {
    align-items: center;
    flex-wrap: wrap; }
  /* LIBERTADORES */
  .libertadores {
    height: 70vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "river"  "mano-suarez"  "arbitro"; }
    .libertadores .river {
      background-position: top; }
    .libertadores .mano-suarez {
      background-position: top; }
    .libertadores .arbitro {
      background-position: top; }
    .libertadores__imagen {
      width: auto;
      height: auto; }
    .libertadores__imagen--chica {
      width: auto;
      height: auto; }
    .libertadores__titulo {
      position: relative;
      background-color: transparent;
      font-size: 20px;
      top: 4%;
      left: 0%; }
    .libertadores__titulo--dos {
      position: relative;
      background-color: transparent;
      font-size: 15px;
      top: 4%; }
    .libertadores__titulo--tres {
      position: relative;
      background-color: transparent;
      font-size: 15px;
      top: 4%; }
  .cruces {
    flex-wrap: wrap;
    justify-content: center; }
    .cruces__imagen {
      width: 350px;
      height: 310px;
      padding: 5px; }
    .cruces__texto {
      padding: 15px; }
  /* FIXTURE */
  .fixture {
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 10px;
    padding: 10px; }
    .fixture__principal {
      grid-column: 1/2;
      grid-row: 1/2; }
    .fixture__uno {
      grid-column: 1/2;
      grid-row: 2/3; }
    .fixture__dos {
      grid-column: 1/2;
      grid-row: 3/4; }
    .fixture__tres {
      grid-column: 1/2;
      grid-row: 4/5; }
    .fixture__cuatro {
      grid-column: 1/2;
      grid-row: 5/6; }
    .fixture__principal {
      width: auto;
      height: 300px; }
    .fixture__liga {
      justify-content: center;
      align-items: center; }
    .fixture_borde {
      border: #010101 solid 2px;
      padding: 0px; }
  .fixture__copa {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .fixture__copa--imagen {
      width: 320px;
      padding: 0px; }
    .fixture__copa--texto {
      padding: 15px; }
  /* PLANTEL */
  .plantel {
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center; }
    .plantel__imagen {
      width: 400px;
      height: auto; }
  /* HISTORIA */
  .historia {
    font-size: 13px; }
    .historia__uno {
      flex-wrap: wrap;
      justify-content: center; }
    .historia__dos {
      flex-wrap: wrap-reverse;
      justify-content: center; }
    .historia__tres {
      flex-wrap: wrap;
      justify-content: center; }
    .historia__cuatro {
      flex-wrap: wrap-reverse;
      justify-content: center; }
    .historia__tamano {
      width: 320px;
      height: 300px; }
  .footer__imagen {
    justify-content: center; }
  .footer__imagen--redes {
    width: 12px; }
  .footer__letra {
    font-size: 10px; }
  .footer__condiciones {
    flex-direction: column-reverse; }
  .footer__letra {
    font-size: 11px; }
  .footer__imagen--logo {
    width: 80px; } }

/* MEDIA QUERIE DE TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  header {
    position: static;
    height: auto;
    width: auto; }
    header .header__imagen--logo {
      width: 100px; }
  .principal {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 5px;
    gap: 5px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    grid-template-areas: "enzo enzo enzo"  "texto texto texto" "julian borja suarez"; }
    .principal__imagen--primera {
      width: auto;
      height: auto; }
    .principal__imagen--baja {
      width: auto;
      height: auto; }
    .principal__imagen {
      width: auto;
      height: auto; }
    .principal__titulo {
      top: 5%;
      font-size: 40px; }
    .principal__titulo--dos {
      top: 10%;
      font-size: 25px; }
    .principal__titulo--tres {
      top: 10%;
      font-size: 25px; }
    .principal__titulo--cuatro {
      top: 10%;
      font-size: 25px; }
    .principal__letra {
      font-size: 16px;
      padding: 15px; }
  .partidos {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    margin: 10px; }
    .partidos__imagen--uno {
      grid-column: 1/2;
      grid-row: 1/2; }
    .partidos__imagen--dos {
      grid-column: 1/2;
      grid-row: 2/3; }
    .partidos__imagen--tres {
      grid-column: 1/2;
      grid-row: 3/4; }
    .partidos__borde {
      border: #010101 solid 2px;
      padding: 5px; }
  .secundario {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .secundario__imagen {
      width: 500px;
      height: 400px; }
  /* LIBERTADORES */
  .libertadores {
    width: auto;
    height: 50vh;
    margin: 0px;
    padding: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "river river"  "mano-suarez arbitro"; }
    .libertadores .river {
      background-position: top; }
    .libertadores .mano-suarez {
      background-position: top; }
    .libertadores .arbitro {
      background-position: top; }
    .libertadores__imagen {
      width: auto;
      height: auto; }
    .libertadores__imagen--chica {
      width: auto;
      height: auto; }
    .libertadores__titulo {
      position: relative;
      background-color: transparent;
      font-size: 40px;
      top: 1%;
      left: 0%; }
    .libertadores__titulo--dos {
      position: relative;
      background-color: transparent;
      font-size: 25px;
      top: 4%; }
    .libertadores__titulo--tres {
      position: relative;
      background-color: transparent;
      font-size: 25px;
      top: 4%; }
  .cruces {
    flex-wrap: wrap;
    justify-content: center; }
    .cruces__imagen {
      width: 600px;
      height: 400px; }
    .cruces__texto {
      padding: 15px;
      font-size: 16px; }
  /* FIXTURE */
  .fixture {
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 3px;
    row-gap: 0px;
    padding: 0px; }
    .fixture__principal {
      grid-column: 1/3;
      grid-row: 2/3; }
    .fixture__uno {
      grid-column: 1/2;
      grid-row: 1/2; }
    .fixture__dos {
      grid-column: 2/3;
      grid-row: 1/2; }
    .fixture__tres {
      grid-column: 1/2;
      grid-row: 3/4; }
    .fixture__cuatro {
      grid-column: 2/3;
      grid-row: 3/4; }
    .fixture_borde {
      border: gray solid 1px;
      padding: 0px; }
    .fixture__principal {
      width: auto;
      height: 400px; }
    .fixture__liga {
      justify-content: center;
      align-items: center; }
    .fixture__imagen {
      margin: 10px; }
  .fixture__copa {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .fixture__copa--imagen {
      width: 570px;
      padding: 0px; }
    .fixture__copa--texto {
      padding: 15px; }
  /* PLANTEL */
  .plantel {
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center; }
    .plantel__imagen {
      width: 550px;
      height: auto; }
  /* HISTORIA */
  .historia {
    font-size: 13px; }
    .historia__uno {
      justify-content: center;
      flex-wrap: wrap; }
    .historia__dos {
      justify-content: center;
      flex-wrap: wrap-reverse; }
    .historia__tres {
      justify-content: center;
      flex-wrap: wrap; }
    .historia__cuatro {
      justify-content: center;
      flex-wrap: wrap-reverse; }
    .historia__tamano {
      width: auto;
      height: 350px; }
  .footer__imagen--redes {
    width: 14px; }
  .footer__letra {
    font-size: 12px; }
  .footer__condiciones {
    align-content: flex-end;
    align-items: center;
    padding: 5px; }
  .footer__letra {
    font-size: 12px; }
  .footer__imagen--logo {
    width: 90px; }
  .footer__imagen {
    justify-content: center; } }
