/* EXTEND */

.background-centrado {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.titulos-normales {
    position: relative;
    background-color: transparent;
    color: white;
    text-shadow: 5px 4px 2px black;
}
.flex-historia{
    display: flex; 
    flex-direction: row;
}

@mixin flex($justify, $align) {
    justify-content: $justify;
    align-items: $align;
}