/* EXTEND */

.background-centrado {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.titulos-normales {
    position: relative;
    background-color: transparent;
    color: white;
}