/* COLORES */
$color-nav:  rgb(130, 25, 25);
$color-borde:  rgb(1, 1, 1);
/* LETRA */

$font-titulos: 'Alfa Slab One', cursive;
$font-secundarios: 'Pathway Gothic One', sans-serif;
$font-terciarios: 'Patrick Hand', cursive;